@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* 
html, body{
  height: 100vh;
  font-weight: 800;
} */

/* body {
    background: url('i1.jpg');
    background-color: white;
    background-size: cover;
    font-family: Arial;
} */

/* .outer {
    height: 100vh;
    width: 100vw;
} */


button:hover {
    background-color: white;
    color: black;
}

.icon {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
}

.center {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

