::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: black;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body {
    background: #030321;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 10%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 2.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

h1 {
    text-align: center;
}

button {    
    position: absolute;
    top: 80%;
    left: 80%;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: 000000;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 25;
    font-family: "Lato";
    color: white;
}


button:hover {
    background-color: white;
    color: black;
}

p { 
    left: 32%;
    margin-top: -50px;
    color: white;
    text-align: center;
    font-family: "Lato";
    font-size: 25px;
    top: 60%;   
    background-color: 000000;
    opacity: 0.7;
}

.second {
    height: auto;
    width: 100%;
    margin: auto;
    background: white no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;

}
